body {
    margin: 0px 20px 20px 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.navbar {
    margin: 20px auto;
    padding: 20px;
}

.navbar_container {
    background-color: #0e42c1;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.navbar_menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar_item {
    color: white;
    display: inline ;
    margin: 0 15px;
}

.navbar_links {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.navbar_links:hover {
    background-color: #FFC300 ;
}

main {
    margin: 20px 20px 0px 20px;
    padding: 20px;
    background-color:#6889d8;
    border-width: 2px;
    border-style: solid;
    border-color: #0e42c1;
    border-radius: 10px;
}

footer {
    margin: 0px 20px 20px 20px;
    padding: 20px;
    background-color:#6889d8;
    text-align: center;
    border-width: 2px;
    border-style: solid;
    border-color: #0e42c1;
    border-radius: 10px;
}

.headerimage{
    width: 100%;
    display: block; /*makes the image take up the full line*/
    max-width: 1000px; /*adjust this number to match the width of your navbar if needed.*/
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center the image horizontally */
}